name: Update Power Schedule

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  scrape-job:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      # Встановлення системних залежностей для Chrome (це виправить зависання)
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y libgbm-dev libasound2 libnss3 libatk1.0-0 libatk-bridge2.0-0 libcups2 libxkbcommon-x11-0 libxcomposite1 libxdamage1 libxrandr2

      - name: Install libraries
        run: npm install

      - name: Run Scraper
        run: node scrape.js
        env:
          PUPPETEER_SKIP_CHROMIUM_DOWNLOAD: 'false'

      - name: Save Result
        run: |
          git config --global user.name 'GitHub Action'
          git config --global user.email 'action@github.com'
          git add power_data.json || echo "No new file found"
          git diff --quiet && git diff --staged --quiet || (git commit -m "Auto-update schedule" && git push)
